body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.first {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: white;
  padding: 10px 48px;
  gap: 80px;
}

.header {
  display: flex;
  justify-content: space-around;
}

a {
  font-family: sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 100;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-family: sans-serif;
  margin-right: auto;
  font-weight: bold;
}

.header-links {
  display: flex;
  gap: 8px;
}

.first-content {
  margin-bottom: 100px;
  display: flex;
  gap: 8px;
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.main-content {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 7px;
  margin-bottom: 7px;
}

.hero-button {
  background-color: #3882f6;
  color: white;
  border-radius: 15px;
  padding: 10px 35px;
  border: none;
}

.sample-image {
  height: 400px;
  width: 200px;
}
